doctype html
html(ng-app='mealOrder')
    head
        title= '食'
        meta(name='viewport', content='width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='icon', type='image/ico', href='favicon.ico')
        link(rel='shortcut icon', type='image/ico', href='favicon.ico')
        link(rel='bookmark', type='image/ico', href='/favicon.ico')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-controller='MenuController')

        div(class='top_menu')
            a(class='logo clearfix' href='/')
                img(src='./images/logo.png')
            ul(class='nav')
                li(class='dropdown on')
                    a(href='/home') 主页
                li
                    a(href='/team') 团队
                li
                    a(href='/menu') 菜单
                li
                    a(href='/order') 订单

            div(class='user-zone')
                a(class='user-name' href='javascript:;')=username



        script(type='text/javascript' src='./lib/angular.js')
        script(type='text/javascript' src='./lib/socket.io.js')
        script(type='text/javascript' src='./javascripts/index.js')