extends template-page

block content

    if list && list.length > 0
        h5 正在进行中的点餐活动:
            span.pull-right
                a(href='#' data-toggle='modal' id='team-modal-btn' data-target='#team-order-modal') 发起点餐

        table.table.table-hover.table-striped.table-responsive
            thead
                tr
                    th 团队
                    th 创造者
                    th 操作
            tbody
                each team in list
                    tr
                        td=team.teamName
                        td=team.creatorName
                        td
                            a(href='#' team-id=team._id) 加入
    else
        p(class='text-center') 没有进行中的点餐活动，
            a(href='#' data-toggle='modal' id='team-modal-btn' data-target='#team-order-modal') 发起点餐

    .modal.fade.in(tabindex='-1' id='team-order-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') x
                    h4.modal-title 团队列表
                .modal-body.col-sm-12.col-xs-12
                    table.table.table-hover.table-striped.table-responsive
                        thead
                            tr
                                th 团队
                                th 创建者
                                th 操作
                        tbody#team-list

                .modal-footer

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/home.js')