extends template-page

block content

    h5 正在进行中的点餐活动:

    table(class='table table-hover table-striped table-responsive')
        thead
            tr
                th 团队
                th 发起人
                th 操作
        tbody
            tr
                td 点餐小分队
                td feiyu
                td
                    a(href='#') 加入

    p(class='text-center') 没有进行中的点餐活动，
        a(href='#') 发起点餐任务


block scripts
    script(type='text/javascript' src='./lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='./lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='./lib/angular.js')
    script(type='text/javascript' src='./lib/socket.io.js')
    script(type='text/javascript' src='./javascripts/index.js')