extends template-page

block styles
    link(rel='stylesheet', href='/stylesheets/meal.css')

block content
    ul.breadcrumb
        li
            a(href='/home') 主页
        li 订餐
    ul.breadcrumb
        li
            h5 餐单名：
                =menuName

    if dishes.length > 0
        each dish in dishes
            .col-lg-3.col-sm-6.col-xs-12
                .well
                    h5=dish.dishName
                    p.text-danger(dish-id=dish._id dish-name=dish.dishName dish-price=dish.price) ¥
                        =dish.price
                        | /份
                        span.glyphicon.glyphicon-plus-sign.text-success.add-dish-btn

    .affix.col-lg-4.col-sm-6.col-xs-12.cart-container
        .cart-basket#cart-basket
            .basket-banner 购物车
            .dish-list#dish-list
        .basket-info#basket-info
            .basket-dishes
                span.glyphicon.glyphicon-shopping-cart
                span.badge 0
            span.total-price 0
            button.btn.btn-success#submit-meal-btn 提交

    .modal.fade.in(tabindex='-1' id='confirm-order-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog
            .panel.panel-danger
                .panel-heading
                    h3.panel-title 确认生成订单
                .modal-body.text-center
                    h4.text-danger
                        span.submit-user
                        | &nbsp;提交了订单，请确认！
                    table.table.table-hover.table-striped.table-responsive
                        thead
                            tr
                                th(style='text-align:center;') 菜名
                                th(style='text-align:center;') 单价
                                th(style='text-align:center;') 数量
                        tbody#confirm-dishes
                    h5#order-info.text-danger(style='text-align: left;')
                .modal-footer
                    button#accept-order.btn.btn-success(type="button" disabled) 同意
                    button#retreat-order.btn.btn-danger(type="button" disabled) 拒绝

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/lib/socket.io.js')
    script(type='text/javascript' src='/javascripts/meal.js')