extends template-page

block styles
    link(rel='stylesheet', href='/stylesheets/meal.css')

block content
    ul(class='breadcrumb')
        li
            a(href='/home') 主页
        li 订餐
    ul(class='breadcrumb')
        li
            h5 餐单名：
                =menuName

    if dishes.length > 0
        each dish in dishes
            .col-lg-3.col-sm-6.col-xs-6
                .well
                    h6
                        =dish.dishName
                    div(dish-id=dish._id dish-name=dish.dishName dish-price=dish.price style='line-height:1;')
                        span.text-danger ¥
                            =dish.price
                            | /份
                        div(style='display:inline-block;padding: 6px;')
                            span.glyphicon.glyphicon-plus-sign.text-success.add-dish-btn

    .affix.col-lg-4.col-sm-6.col-xs-12.cart-container
        .cart-basket#cart-basket
            .basket-banner 购物车
            .dish-list#dish-list
        .basket-info#basket-info
            .basket-dishes
                span.glyphicon.glyphicon-shopping-cart
                span.badge 0
            span.total-price 0
            button.btn.btn-danger#submit-meal-btn 提交

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/lib/socket.io.js')
    script(type='text/javascript' src='/javascripts/meal.js')