extends template-page

block content
    ul(class='breadcrumb')
        li
            a(href='/home') 主页
        li 订餐

    h5 吃货团 / 望湘园

    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单
    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单
    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单
    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单
    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单
    .col-lg-3.col-sm-6.col-xs-6
        .well
            h6 土豆烧鸡
                span.text-danger.pull-right ￥18
            .text-right
                button.btn.btn-danger.btn-sm 加入菜单

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/home.js')