extends template-page

block content

    if list && list.length > 0
        h5 订单列表:

        table.table.table-hover.table-striped.table-responsive
            thead
                tr
                    th 发起人
                    th 完成时间
                    th 状态
                    th 操作
            tbody
                each order in list
                    tr
                        td=order.creatorName
                        td=order.time
                        td=order.statusStr
                        td
                            a(href='#') 详情
    else
        .jumbotron
            span(class='glyphicon glyphicon-exclamation-sign text-danger')
            | &nbsp;没有查到任何订单

block scripts
    script(type='text/javascript' src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/lib/bootstrap/dist/js/bootstrap.min.js')
    //script(type='text/javascript' src='/javascripts/home.js')