
extends template-page

block content
    if teamList.length > 0
        h5 你的团队列表:
            span.pull-right
                a(href='#' data-toggle='modal' data-target='#team-search-modal') 搜索团队
                | &nbsp;&nbsp;&nbsp;
                a(href='/team/add') 创建队伍
        table.table.table-hover.table-striped.table-responsive
            thead
                tr
                    th 团队名
                    th 创建人
                    th 操作
            tbody#team-list
                each team in teamList
                    tr
                        td=team.teamName
                        td=team.creatorName
                        td
                            if username === team.creatorName
                                a.edit-btn(href='#' _id=team._id) 编辑
                                | &nbsp;&nbsp;
                                a.del-btn(href='#' _id=team._id) 删除

    else
        .jumbotron
            span.glyphicon.glyphicon-exclamation-sign.text-danger
            | &nbsp;你还没有加入任何团队
            a(href='#' data-toggle='modal' data-target='#team-search-modal') 搜索团队
            | 或
            a(href='/team/add') 创建团队

    .modal.fade.in(tabindex='-1' id='team-search-modal' role='dialog' aria-hidden='true' data-backdrop='static')
        .modal-dialog
            .panel.panel-primary
                .panel-heading
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') x
                    h4.modal-title 搜索团队
                .modal-body.col-sm-12.col-xs-12
                    .col-sm-10.col-xs-10.col-sm-offset-1.col-xs-offset-1
                        input.form-control(type='text' id='team-keyword' placeholder='请输入团队名进行查询')
                        ul.list-group#team-search-list(style='height:200px;overflow-y:auto;margin-top:10px;')

                .modal-footer

block scripts
    script(type='text/javascript' src='./lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='./lib/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/team.js')
