
extends template-page

block content
    if teamList.length > 0
        h5 你的团队列表:
            span.pull-right
                a(href='/team/add') 创建队伍
        table(class='table table-hover table-striped table-responsive')
            tbody
                each team in teamList
                    tr
                        td
                            a(href='#')=team.teamName
                //tr
                //    td
                //        a(href='#') 点餐小分队
                //tr
                //    td
                //        a(href='#') 都是饿死鬼
                //tr
                //    td
                //        a(href='#') 吃货集中营
                //tr
                //    td
                //        a(href='#') 移动BI点餐群
    else
        p(class='text-center')
            span(class='glyphicon glyphicon-exclamation-sign text-danger')
            | &nbsp;你还没有加入任何团队
            a(href='#') 搜索加入
            span 或
            a(href='/team/add') 创建队伍

block scripts
    script(type='text/javascript' src='./lib/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='./lib/bootstrap/dist/js/bootstrap.min.js')
