div(class='navbar navbar-default navbar-fixed-top')
    div(class='container')
        div(class='navbar-header')
            a(href='/home' class='navbar-brand') 食
            button(class='navbar-toggle' type='button' data-toggle='collapse' data-target='#navbar-main')
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')

        div(class='navbar-collapse collapse' id='navbar-main')
            ul(class='nav navbar-nav')
                li
                    if nav === 'home'
                        a(href='/home' class='nav-on') 订餐
                    else
                        a(href='/home') 订餐
                li
                    if nav === 'team'
                        a(href='/team' class='nav-on') 团队
                    else
                        a(href='/team') 团队
                li
                    if nav === 'menu'
                        a(href='/menu' class='nav-on') 餐单
                    else
                        a(href='/menu') 餐单
                li
                    if nav === 'order'
                        a(href='/order' class='nav-on') 订单
                    else
                        a(href='/order') 订单

            ul(class='nav navbar-nav navbar-right')
                li#user-info
                    a#username(href='#')=username
                    ul(class='user-actions' style='')
                        li
                            a(href='/user/logout') 退出
