.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href='/home') 食
            button.navbar-toggle(type='button' data-toggle='collapse' data-target='#navbar-main')
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')

        #navbar-main.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    if nav === 'home'
                        a.nav-on(href='/home') 订餐
                    else
                        a(href='/home') 订餐
                li
                    if nav === 'team'
                        a.nav-on(href='/team') 团队
                    else
                        a(href='/team') 团队
                li
                    if nav === 'menu'
                        a.nav-on(href='/menu') 餐单
                    else
                        a(href='/menu') 餐单
                li
                    if nav === 'order'
                        a.nav-on(href='/order') 订单
                    else
                        a(href='/order') 订单

            ul.nav.navbar-nav.navbar-right
                li#user-info
                    a#username(href='#')=username
                    ul.user-actions
                        li
                            a(href='/user/logout') 退出
