html, body {
    font-family: "MicrosoftYaHei", "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif !important;
}

#user-info:hover > ul {
    display: block;
}

.user-actions {
    display: none;position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    list-style: none;
    padding: 10px 0;
    border-top: solid 1px #fff;
    text-align: center;
    border-radius: 0 0 5px 5px;
    background-color: #2c3e50;
}

#main-content {
    margin-bottom: 46px;
}

@media (min-width: 1200px) {
    #main-content {
        margin-bottom: 0;
    }
    .user-actions {
        border: none;
    }
}

/*滚动条 start*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #F5F5F5;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #fff ;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:#2c3e50;
}