
.cart-container {
    right:0;bottom:0;padding:0;z-index:100;
}

.cart-container .cart-basket {
    top: 0;
    z-index: 1;
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 15px #ccc;
    -webkit-transition: top ease-in-out .3s;
    transition: top ease-in-out .3s;
}
.cart-container .cart-basket .basket-banner {
    background-color: #d4d6d8;
    border-top: 2px solid #2c3e50;
    padding: 12px 10px;
    height: 45px;
    position: relative;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.cart-container .cart-basket .dish-list {
    position: relative;
    height: 0;
    -webkit-transition: height ease-in-out .5s;
    transition: height ease-in-out .5s;
}

.cart-basket .dish-line {
    display: table;
    table-layout: fixed;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    margin-top: -1px;
}
.cart-basket .dish-line .dish-name {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    width: 50%;
    margin-right: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #666;
}
.cart-basket .dish-line .ope-btns {
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
    width: 25%;
    text-align: center;
}
.cart-basket .dish-line .ope-btns .minus-btn {
    background-color: #fff;
    height: 20px;
    width: 20px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid #ddd;
    outline: 0;
    cursor: pointer;
    color: #666;
}
.cart-basket .dish-line .ope-btns .selected-no {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 20px;
    width: 30px;
    line-height: 20px;
    font-size: 12px;
    vertical-align: top;
    text-align: center;
    outline: 0;
    color: #666;
}
.cart-basket .dish-line .ope-btns .plus-btn {
    background-color: #fff;
    height: 20px;
    width: 20px;
    line-height: 18px;
    vertical-align: top;
    border: 1px solid #ddd;
    outline: 0;
    cursor: pointer;
    color: #666;
}
.cart-basket .dish-line .total-price {
    text-align: right;
    color: #e74c3c;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}

.cart-container .basket-info {
    z-index: 2;
    position: relative;
    cursor: pointer;
    color:#fff;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    background-color: #2c3e50;
    box-shadow: 0 1px 3px #2c3e50;
    padding:0 10px;
}
.cart-container .basket-info .basket-dishes {
    position:relative;
    display:inline-block;
}
/*.cart-container .basket-info .basket-dishes .glyphicon-shopping-cart {*/
    /*font-size: 20px;*/
/*}*/
.cart-container .basket-info .basket-dishes .badge {
    position:relative;
    top:-15px;
    left:-10px;
    background-color:#ff2828;
}
.cart-container .basket-info .currency-type {
    /*font-size:14px;*/
    font-weight:bold;
    padding:0 2px;
}
#submit-meal-btn {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    width:80px;
    border-radius:0;
}