
body, dd, div, dl, dt, fieldset, form, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    padding: 0;
    margin: 0;
}
ol, ul, li {
    list-style: none;
}

a {
    color: #323A45;
    text-decoration: none;
}

.top-banner {
    width: 100%;
    height: 250px;
    background: url(../images/top_banner.jpg) center center no-repeat;
    background-size: cover;
    position: relative;
}
.top-banner .pos-wrap {
    position: absolute;
    width: 100%;
    bottom: 25px;
}
.pos-wrap h1 {
    text-align: center;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    display: block;
    height: 46px;
    margin: 0 auto 20px;
}
.form-unit {
    margin: 50px auto;
    padding: 0 10px;
}

button {
    padding: .5em 1em;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 15px;
    cursor: pointer;
}
button:active {
    opacity: .5;
    color: lightgray;
}
.menu-list.selected button {
    background: #E24425;
}
.menu-list.unselected button {
    background: #5BBD50;
}
.menu-list button[disabled=disabled] {
    background-color: darkgray;
    cursor: default;
}

.page-title {
    font-size: 30px;
    color: darkblue;
}

.menu-title {
    font-size: 20px;
    color: mediumslateblue;
}

.button-area {
    text-align: center;
    margin: 30px 0;
}

.button-area button {
    background-color: #ffc520;
}
.button-area button[disabled=disabled] {
    background-color: darkgray;
    cursor: default;
}

/* register */
input.ng-invalid {
    border-color: red;
}
input.ng-valid {
    border-color: green;
}
form[name=registerForm] .popover {
    top: -26px;
    background-color: #f2dede;
    color: #a94442;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    left: 50%;
    border-color: #ebccd1;
}
form[name=registerForm] .popover.top > .arrow:after {
    border-top-color: #f2dede;
}
form[name=registerForm] .popover.top > .popover-content {
    padding: 0 5px;
}
.ng-invalid-unique-username ~ div.popover {
    display: block;
}

/* main page */
.top_menu {
    position: fixed;
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #DDD;
    background-color: #d1e9ea;
    z-index: 100;
}
.top_menu .logo {
    float: left;
}
.top_menu .logo img {
    height: 50px;
    margin: 7px 0;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.top_menu ul.nav {
    float: left;
    height: 64px;
    line-height: 64px;
    margin-left: 40px;
}
.top_menu ul.nav>li.dropdown {
    position: relative;
}
.top_menu ul.nav>li {
    float: left;
    margin: 0 15px;
    position: relative;
}
.top_menu ul.nav>li a {
    color: #415f77;
}
.top_menu ul.nav>li.on a {
    color: #fc5050;
}
.top_menu .user-zone {
    float: right;
    position: relative;
    height: 64px;
    line-height: 64px;
    margin-right: 15px;
}
.top_menu .user-zone .user-name {
    color: #fc5050;
}

/*team*/
.team-member {
    padding: 5px;border-radius:5px;background:#ddd;
}